@font-face {
  font-family: 'FiraCode' ;
  src: url("../diy-fonts/FiraCode-Regular-1.ttf");
}

@font-face {
  font-family: 'NotoSansCJK';
  src: url("../diy-fonts/NotoSansCJK-Regular-1.otf");
}

#page-header {
  background-color: transparent;
}

.imgHover,
.error404 #error-wrap .error-content .error-img img,
.article-sort-item-img img,
#recent-posts > .recent-post-item .post_cover img.post_bg,
#aside-content .aside-list > .aside-list-item .thumbnail > img {
  width: 75%;
  height: 100%;
  -webkit-transition: filter 375ms ease-in 0.2s, -webkit-transform 0.6s;
  -moz-transition: filter 375ms ease-in 0.2s, -moz-transform 0.6s;
  -o-transition: filter 375ms ease-in 0.2s, -o-transform 0.6s;
  -ms-transition: filter 375ms ease-in 0.2s, -ms-transform 0.6s;
  transition: filter 375ms ease-in 0.2s, transform 0.6s;
  object-fit: cover;
}

#footer {
  background: transparent;
}

#footer-wrap {
  color: slateblue;
}

#footer-wrap a {
  color: slateblue;
}

.footer-text {
  color: slateblue;
}